.vscode/
shiftiatrics.egg-info/
**/__pycache__/
**/*.ipynb
.pytest_cache/
.env
tasks.md
calc.py

htmlcov/
.coverage

src/server/logs/
src/server/engine/bin/
src/server/scripts/example.bash

src/client/next-env.d.ts
src/client/node_modules/
src/client/.next/
src/client/build/
src/client/out/
src/client/public/icons/favicon.odg
src/nginx/certs