.vscode/
autoshift.egg-info/
**/__pycache__/
**/*.ipynb
.pytest_cache/
.env
tasks.txt

htmlcov/
.coverage

src/server/logs/
src/server/engine/bin/

src/client/next-env.d.ts
src/client/node_modules/
src/client/.next/
src/client/build/
src/client/out/
src/client/styles/main.css