#employees-content, #shifts-content {
    display: flex;
    flex-direction: column;

    .card-container {
        @include breakpoint(1300px) { flex-direction: column }
        flex-direction: row;
        flex-wrap: wrap;

        .dashboard-card {
            min-width: 400px;
            .dashboard-card-details { padding-bottom: 10px }
        }
    }
}