.backdrop #modal {
    @include themed-bgcolor('background', 'primary-blue');
    box-sizing: border-box; // ensures padding is included in width

    @include breakpoint(815px) {
        width: 100%;
        max-width: 100%;
        margin: 0;
        height: 65%;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 16px 16px 0 0;
        overflow: hidden;

        #close-modal-btn { display: none !important }

        &.open {
            transform: translateY(0) !important;
            opacity: 1 !important;
        }

        &.closed {
            transform: translateY(30%) !important;
            opacity: 0 !important;
        }
    }

    // Default (desktop) modal styling
    border-radius: 16px;
    padding: 20px 40px;
    max-width: 700px;
    width: 90%;
    margin: 100px auto;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.open {
        transform: translateY(0);
        opacity: 1;
    }

    &.closed {
        transform: translateY(-20px);
        opacity: 0;
    }

    #modal-content {
        @include vertical-flex;
        gap: 20px;
        margin-bottom: 5px;
        max-height: 100%;
        overflow-y: auto;
    }

    h1, h2, p, li, b, label, td { @include themed-color('primary-text') }
    td { text-align: left }

    .modal-input-sec {
        margin-bottom: 20px;
    }

    .checkboxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 10px;
        input[type='checkbox'] { scale: 1.4; margin: 0 7px }
    }

    button {
        @include themed-bgcolor('primary-blue', 'secondary-blue-hover');
        @include themed-color('background', 'primary-text');
        padding: 10px 15px;
        border-radius: 12px;
        transition: background-color 250ms ease, color 250ms ease;
        &:hover { @include themed-bgcolor('primary-blue-hover', 'secondary-blue') }

        &#close-modal-btn {
            @include circle(50px);
            @include compressible;
            @include themed-bgcolor('alpha-black-2', 'primary-text');
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 12px;
            &:hover { @include themed-bgcolor('alpha-black-1', 'alpha-white') }
        }

        &#disabled-confirm-btn {
            @include themed-bgcolor('light-gray', 'primary-blue-hover');
            @include themed-color('alpha-black-1', 'secondary-blue');
            cursor: default;
        }
    }

    .error {
        color: get-color('primary-red') !important;
    }

    .modal-btns {
        @include breakpoint(950px) { flex-direction: column }
        display: flex;
        gap: 10px;
        button, a { width: 100% }
    }

    .dropdown button {
        @include themed-bgcolor('light-gray', 'secondary-blue');
        @include themed-color('primary-text');
        border-radius: 10px;
        &:hover { @include themed-bgcolor('alpha-black-1', 'secondary-blue-hover'); }
    }

    div {
        @include themed-color('primary-text')
    }

    form {
        @include vertical-flex;
        gap: 20px;
    }

    textarea {
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px;
        box-shadow: $main-box-shadow;
    }
}



@media screen and (max-width: 815px) {
    #modal {
        overflow-y: auto;
        width: 100vw;
        max-width: 100vw;
        padding: 20px;
        margin: 0;
        border-radius: 16px 16px 0 0;
    }

    #modal-content {
        overflow: unset;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 816px) {
    #modal {
        overflow: hidden;
        max-height: 55vh;
    }

    #modal-content {
        max-height: 55vh;
        overflow-y: auto;
    }
}