#schedules-content {
    padding: 0;
    margin-top: 0;
    margin-left: 240px;

    #month-navigators {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;

        .disabled-chevron {
            background-color: get-color('alpha-black-1') !important;
            scale: 1 !important;
            cursor: default;
        }

        span {
            color: get-color('background');
            margin: 0 10px;
        }

        button {
            @include circle(40px);
            @include compressible;
            @include themed-bgcolor('secondary-blue');
            &:hover { @include themed-bgcolor('secondary-blue-hover') }
        }
    }

    .card-container {
        @include themed-bgcolor('background');
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 15px 60px 30px;

        .day-card {
            @include vertical-flex;
            align-items: center;
            padding: 5px 20px;
            margin-bottom: 10px;
            border-radius: 10px;
            min-width: 10vw;

            h3 {
                @include themed-color('primary-text', 'light-gray');
                .weekday-name {
                    @include themed-color('primary-text', 'light-gray');
                    font-weight: lighter;
                }
            }

            table {
                width: 100%;
                border-collapse: collapse;
                font-size: 18px;
                text-align: left;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: $main-box-shadow;

                td { padding: 12px 15px }

                thead th {
                    @include themed-bgcolor('secondary-blue-hover');
                    color: get-color('background');
                    font-size: 1rem;
                    padding: 5px 15px
                }

                tbody {
                    @include themed-bgcolor('background', 'primary-blue');
                    td { @include themed-color('dark-gray', 'primary-text') }
                    tr:nth-child(even) { @include themed-bgcolor('light-gray', 'secondary-blue') }
                }
            }
        }
    }
}