#settings-content {
    @include vertical-flex;
    padding: 25px;
    gap: 40px;

    .settings-card {
        background-color: get-color('alpha-white');
        box-shadow: $main-box-shadow;
        border-radius: 10px;
        overflow: hidden;

        .settings-title {
            background-color: get-color('primary-blue-hover');
            color: get-color('background');
            font-weight: bold;
            padding: 10px 15px;
            margin: 0;
        }
    }

    #account-card {
        padding: 20px 30px;
        padding-bottom: 25px;
    
        h1 {
            font-size: 2.3rem;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        p {
            margin: 5px 0;
        }

        #account-actions-card {
            @include vertical-flex;
            gap: 10px;
            background-color: get-color('alpha-white');
            margin-top: 30px;
            border-radius: 20px;
    
            button {
                color: white;
                padding: 10px;
                border-radius: 10px;
        
                &#edit-account-btn {
                    background-color: get-color('primary-blue');
                    &:hover { background-color: get-color('primary-blue-hover') }
                }
        
                &#log-out-btn {
                    background-color: get-color('gray');
                    &:hover { background-color: get-color('alpha-black-0') }
                }
        
                &#delete-account-btn {
                    background-color: get-color('primary-red');
                    &:hover { background-color: get-color('primary-red-hover') }
                }
            }
        }
    }
}