#settings-content {
    @include vertical-flex;
    padding: 25px;
    gap: 35px;

    .settings-card {
        @include themed-bgcolor('alpha-white', 'primary-blue-hover');
        box-shadow: $main-box-shadow;
        border-radius: 10px;
        overflow: hidden;
        transition: background-color 250ms ease;

        .settings-title {
            @include themed-bgcolor('primary-blue');
            color: get-color('background');
            font-weight: bold;
            padding: 10px 15px;
            margin: 0;
        }
    }

    .card-content {
        padding: 20px 30px;
        padding-bottom: 25px;
        transition: background-color 250ms ease;
    
        h1 {
            @include themed-color('primary-text');
            font-size: 2.3rem;
            margin-top: 10px;
            margin-bottom: 20px;
            transition: color 250ms ease;
        }

        label, ul li {
            @include themed-color('primary-text');
            margin: 5px 0;
            transition: color 250ms ease;
        }

        #account-actions-card {
            @include vertical-flex;
            gap: 10px;
            margin-top: 30px;
            border-radius: 20px;
    
            button {
                color: white;
                padding: 10px;
                border-radius: 10px;
        
                &.edit-account-btn {
                    @include themed-bgcolor('primary-blue', 'secondary-blue');
                    &:hover { @include themed-bgcolor('primary-blue-hover', 'primary-blue') }
                }
        
                &#log-out-btn {
                    @include themed-bgcolor('gray');
                    &:hover { @include themed-bgcolor('alpha-black-0', 'light-gray') }
                }
        
                &#delete-account-btn {
                    @include themed-bgcolor('primary-red');
                    &:hover { @include themed-bgcolor('primary-red-hover') }
                }
            }
        }

        .switch-div {
            display: flex;
            justify-content: space-between;
            &, label { cursor: pointer }

            button {
                @include themed-bgcolor('gray', 'light-gray');
                display: inline-block;
                position: relative;
                width: 55px;
                height: 25px;
                border-radius: 25px;
                padding: 4px;
                transition: background-color 0.3s ease;

                .switch-circle {
                    position: absolute;
                    top: 50%;
                    left: 4px;
                    transform: translateX(0) translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: $main-box-shadow;
                    transition: transform 200ms ease;
                }

                &.switch-btn-enabled {
                    background: get-color('primary-blue');
                    .switch-circle{ transform: translateX(26px) translateY(-50%) }
                }
            }
        }
    }
}