#sidebar {
    @include vertical-flex;
    @include themed-bgcolor('primary-blue');
    @include breakpoint(950px) { @include themed-bgcolor('transparent-menu'); display: none }
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    z-index: 10;
    justify-content: space-between;

    #sidebar-upper, #sidebar-lower { @include vertical-flex }

    button {
        color: get-color('background');
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 100%;
        padding: 13px;
        text-align: left;
        transition: background-color 250ms ease;
        
        &:hover { @include themed-bgcolor('primary-blue-hover') }
        &.active-content-btn { background-color: get-color('alpha-white') !important }

        img { margin-right: 7px }
    }
}