#subscription-content {
    @include breakpoint(1660px) { margin-left: 280px; }
    @include breakpoint(950px) { margin: 0 auto; max-width: unset }
    max-width: 100%;
    margin-left: 300px;
    margin-right: 70px;

    #header-upper { padding-bottom: 0 }
}

#sub-card {
    background: black;
    border-radius: 10px;
    padding: 10px 40px;
    box-shadow: $main-box-shadow;

    h1, p { color: get-color('background') }
    h1 { font-size: 2rem }
}


#subscription-content .pricing-cards {
    @include breakpoint(1850px) { justify-content: space-evenly !important }
    @include breakpoint(950px) {
        flex-direction: column;
        width: 100%;
        gap: 40px;
        .pricing-card { margin: 0 auto; max-width: 90vw }
    }
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    padding-left: 0;
    overflow-y: hidden;

    .pricing-card {
        @include themed-bgcolor('alpha-white', 'primary-blue-hover');
        p, li { @include themed-color('primary-text') }
        p, h2 { text-align: center }
        span { @include themed-color('dark-gray', 'light-gray') }
        .sub-activated-btn {
            @include themed-bgcolor('alpha-black-0');
            opacity: .8;
            scale: 1;
            cursor: default;
        }
    }
}

.sub-actions-card {
    @include breakpoint(1000px) { flex-direction: column }
    margin-top: 0 !important;

    #cancel-sub-btn {
        @include themed-bgcolor('primary-red');
        &:hover { @include themed-bgcolor('primary-red-hover') }
    }
}

.invoices-card {
    @include themed-bgcolor('alpha-white', 'primary-blue-hover');
    box-shadow: $main-box-shadow;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 250ms ease;

    h2 {
        @include themed-bgcolor('primary-blue');
        color: get-color('background');
        font-weight: bold;
        padding: 10px 15px;
        margin: 0;
    }
}

.invoices {
    padding: 20px;

    .invoice-card {
        @include themed-bgcolor('light-gray', 'primary-blue');
        border-radius: 10px;
        padding: 20px;
        b, td, div { @include themed-color('primary-text') }
        table { width: 100%;}

        div {
            max-width: 40vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .invoice-btns {
            display: flex;
            gap: 10px;
            width: 100%;
            margin-top: 15px;

            button {
                @include compressible;
                @include themed-bgcolor('primary-blue', 'secondary-blue');
                color: get-color('background');
                padding: 10px 20px;
                border-radius: 10px;
                &:hover { @include themed-bgcolor('primary-blue-hover', 'secondary-blue-hover'); }
            }
        }
    }
}