$color-palette: (
    'background': #f8f9fa,
    'primary-text': #343a40,
    'primary-blue': #4a90e2,
    'primary-blue-hover': #357abd,
    'primary-red': #e24a4a,
    'primary-red-hover': #bd3535,
    'pale-blue': #bed4eb,
    'gray': rgb(149, 149, 149), 
    'light-gray': #e6e6e6df,
    'alpha-white': #ffffff33,
    'alpha-black-0': #00000053,
    'alpha-black-1': #0000002d,
    'alpha-black-2':#00000016
);
$main-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);


// Fonts
@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// Functions & Mixins
@function get-color($name) {
    @return map-get($color-palette, $name);
}

@mixin vertical-flex {
    display: flex;
    flex-direction: column;
}

@mixin circle($diameter) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
}

@mixin compressible {
    transition: background-color .2s ease, scale 150ms ease;
    &:active { scale: .93 }
}