* {
    color: get-color('primary-text');
    font-family: Lato, sans-serif;
    font-size: 1.1rem;
    transition: background-color 250ms ease-in-out;
}

html, body {
    @include themed-bgcolor('background');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: background-color 250ms ease;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease;
}

input {
    border: none;
    outline: none;
    padding: 7px 10px;
    border-radius: 10px;
    box-shadow: $main-box-shadow;
}

.content {
    margin-left: 240px;
    transition: background-color 250ms ease;

    @include breakpoint(950px) {
        & { margin-left: 0 }
        header { left: 0 !important }
        #sidebar {
            display: block;
            width: 100%;
        }
    }

    header {
        @include vertical-flex;
        position: fixed;
        left: 240px;
        right: 0;

        #header-upper {
            @include themed-bgcolor('primary-blue-hover');
            @include breakpoint(1100px) { flex-direction: column }
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;

            #header-btns {
                display: flex;
                gap: 10px;
    
                button {
                    @include compressible(.96);
                    @include themed-bgcolor('secondary-blue');
                    color: get-color('background');
                    padding: 10px 15px;
                    border-radius: 10px;
                    &:hover { @include themed-bgcolor('secondary-blue-hover') }
                }
            }
        }

        .header-msg {
            @include themed-bgcolor('primary-blue-hover');
            color: get-color('background');
            margin: 0;
            padding: 10px 15px;
            margin-bottom: 200px;

            &.invalid-msg {
                @include themed-bgcolor('primary-red');
                display: flex;
                justify-content: space-between;
                padding: 0;

                span {
                    color: get-color('background');
                    padding: 10px 15px;
                }

                button {
                    @include themed-bgcolor('background', 'primary-text');
                    @include circle(25px);
                    @include compressible;
                    padding: 5px;
                    margin: 9px;
                    &:hover { @include themed-bgcolor('background', 'alpha-white') }
                }
            }
        }
    }
    
    .card-container {
        @include vertical-flex;
        gap: 15px;
        padding: 20px;
        padding-top: 90px;
    }
}

#dashboard-menu-btn {
    @include circle(70px);
    @include compressible;
    @include themed-bgcolor('primary-blue-hover');
    @include breakpoint(950px) { display: flex }
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    box-shadow: $main-box-shadow;
}