$color-palette: (
    // Default theme
    'background': #f8f9fa,
    'transparent-menu': #4a91e2f7,
    'primary-text': #343a40,
    'primary-blue': #4a90e2,
    'primary-blue-hover': #357abd,
    'primary-red': #e24a4a,
    'primary-red-hover': #bd3535,
    'secondary-blue': #1b4b7a,
    'secondary-blue-hover': #163c62,
    'pale-blue': #bed4eb,
    'gray': #959595,
    'dark-gray': #555555d1,
    'light-gray': #e6e6e6df,
    'alpha-white': #ffffff33,
    'alpha-black-0': #00000053,
    'alpha-black-1': #0000002d,
    'alpha-black-2':#00000016,
    // Dark theme
    'dt': (
        'background': #111d28,
        'transparent-menu': #1f5489f4,
        'primary-text': #f8f9fa,
        'primary-blue': #1f5489,
        'primary-blue-hover': #163c62,
        'primary-red': #9d3838,
        'primary-red-hover': #7a2626,
        'primary-green': #24cc7d,
        'secondary-blue': #2c659f,
        'secondary-blue-hover': #3d77b2,
        'gray': #5a6676,
        'dark-gray': #3f3f3fd1,
        'light-gray': #78889c,
        'alpha-white': #ffffffa9,
        'alpha-black': #00000042
    ),
    // Landing page & regular pages
    'lp': (
        'banner-blue-0': #1169d2,
        'banner-blue-1': #050f18,
        'primary-blue-hover': #3976bef5,
        'secondary-blue': #050f1bbf,
        'header': #0a315cfa,
        'alpha-white': #ffffff8f,
        'alpha-black': #000000a4
    )
);
$main-box-shadow: 0 5px 15px 0 map-get($color-palette, 'alpha-black-1');


// Fonts
@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../public/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


// Functions & Mixins
@function get-color($name, $dt: false, $lp: false) {
    @if $lp {
        $lp-colors: map-get($color-palette, 'lp');
        @return map-get($lp-colors, $name);
    } @else if $dt {
        $dt-colors: map-get($color-palette, 'dt');
        @return map-get($dt-colors, $name);
    } @else {
        @return map-get($color-palette, $name);
    }
}

@mixin themed-color($name, $alt-color-for-dt: null) {
    $parent: selector-nest('.dark-theme', &);
    color: get-color($name, false);

    @if $alt-color-for-dt == null {
        &.dark-theme { color: get-color($name, true) }
        @at-root #{$parent} { color: get-color($name, true) }
    } @else {
        &.dark-theme { color: get-color($alt-color-for-dt, true) }
        @at-root #{$parent} { color: get-color($alt-color-for-dt, true) }
    }
}

@mixin themed-bgcolor($name, $alt-color-for-dt: null) {
    $parent: selector-nest('.dark-theme', &);
    background-color: get-color($name, false);

    @if $alt-color-for-dt == null {
        &.dark-theme { background-color: get-color($name, true) }
        @at-root #{$parent} { background-color: get-color($name, true) }
    } @else {
        &.dark-theme { background-color: get-color($alt-color-for-dt, true) }
        @at-root #{$parent} { background-color: get-color($alt-color-for-dt, true) }
    }
}

@mixin vertical-flex {
    display: flex;
    flex-direction: column;
}

@mixin circle($diameter) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
}

@mixin compressible($min-scale: .93) {
    transition: background-color .2s ease, scale 150ms ease;
    &:active { scale: $min-scale }
}

@mixin minmax-width($width) {
    min-width: $width;
    max-width: $width;
}

@mixin breakpoint($max-width) {
    @media (max-width: $max-width) { @content; }
}

@mixin scaled-resolution($prev-width, $prev-height, $new-height) {
    width: calc($prev-width * $new-height / $prev-height);
    height: $new-height;
}