#lp-banner {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    background: linear-gradient(
        to bottom right,
        get-color('banner-blue-0'),
        get-color('banner-blue-1')
    );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #lp-banner-text {
        margin: 0 1rem;
        margin-bottom: 100px;
        max-width: 35vw;

        p { font-size: 1.3rem }
        h1, p { color: get-color('background') }
        h1 { font-size: 4rem; margin: 0 }

        button {
            background-color: get-color('primary-blue');
            color: get-color('background');
            padding: 15px 10px;
            border-radius: 10px;
            width: 100%;
        }
    }

    img {
        background-color: get-color('background');
        border-radius: 10px;
        box-shadow: 0 5px 60px get-color('primary-blue');
    }
}