#contact-page {
    @include vertical-flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    h1, p { text-align: center }
    p { margin-bottom: 70px }
    h1 {
        font-size: 2rem;
        margin: 0;
        margin-top: 20px;
    }

    form {
        @include vertical-flex;
        margin: 0 auto;
        width: 70%;
        gap: 30px;

        section {
            @include vertical-flex;
            gap: 10px;

            input {
                font-size: 1rem;
                padding: 10px;
            }
        }

        textarea {
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 10px;
            box-shadow: $main-box-shadow;
        }

        button[type='submit'] {
            background-color: get-color('primary-blue');
            color: get-color('background');
            padding: 10px;
            border-radius: 10px;
            max-width: 300px;
            box-shadow: $main-box-shadow;

            &:hover {
                @include compressible(.97);
                background-color: get-color('primary-blue-hover');
            }
        }
    }

    .submit-msg {
        background-color: get-color('light-gray');
        border-radius: 10px;
        padding: 50px;
    }
}