#lp-banner {
    @include breakpoint(1550px) { display: block; padding-top: 150px; }
    background: linear-gradient(
        to bottom right,
        get-color('banner-blue-0', $lp: true),
        get-color('banner-blue-1', $lp: true)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    height: 100vh;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(80%);
        }
        to { 
            opacity: 1;
            transform: translateY(0);
        }
    }

    #lp-banner-text {
        @include breakpoint(1550px) { margin: 0 auto; max-width: 65vw }
        margin: 0 1rem;
        margin-bottom: 100px;
        max-width: 35vw;
        opacity: 0;
        transform: translateY(80%);
        animation: fadeIn .9s ease forwards .1s;

        h1, p { color: get-color('background') }

        h1 {
            @include breakpoint(2000px) { font-size: 3rem; text-align: center }
            font-size: 4rem;
            margin: 0;
        }

        p {
            @include breakpoint(2000px) { font-size: 1.2rem }
            font-size: 1.3rem;
        }

        a {
            display: block;
            text-align: center;
            background-color: get-color('primary-blue');
            color: get-color('background');
            padding: 15px 10px;
            border-radius: 10px;
            width: 100%;
            text-decoration: none;
            &:hover { background-color: get-color('primary-blue-hover', $lp: true) }
        }
    }

    img {
        @include breakpoint(2000px) { @include scaled-resolution(859px, 500px, 380px) }
        @include breakpoint(1550px) { @include scaled-resolution(859px, 500px, 380px); margin: 0 auto; margin-top: 110px }
        @include breakpoint(940px)  { @include scaled-resolution(859px, 500px, 300px) }
        @include breakpoint(600px)  { @include scaled-resolution(859px, 500px, 200px) }
        display: block;
        background-color: get-color('background');
        box-shadow: 0 5px 60px get-color('primary-blue');
        border-radius: 10px;
        width: 859px;
        height: 500px;
        opacity: 0;
        transform: translateY(80%);
        animation: fadeIn 1s ease forwards .2s;
    }
}